.btn {
   border-radius: 4px;
   display: inline-block;
   color: $color-txt-white;
   background-color: $color-accent;

   transition: background-color $transTemp;

   cursor: pointer;

   &:focus,
   &:hover {
      background-color: $btn-active-color;
   }
}
