//
$color-accent: #2196f3;
$color-txt-main: #757575;
$color-txt-second: #212121;
$color-txt-white: #ffffff;
$color-title: #212121;
// HEADER-COLOR
$color-logo-dark: #000000;
$color-link-header: #757575;
// SOCIAL-COLOR
$sicial-color: #afb1b8;
// CLIENT-COLOR
$client-color: #afb1b8;
// FOOTER-COLOR
$color-logo-white: #ffffff;
// BG-COLOR
$bg-main-color: #ffffff;
$bg-hero-color: #9e8b8b;
$bg-second-color: #f5f4fa;
