//
.portfolio__list {
   margin-top: 50px;

   //    margin-top: calc(50px - 30px);
   //    margin-left: -30px;
   column-gap: 30px;
   row-gap: 30px;
}

.examples {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   .examples__item {
      position: relative;
      flex-basis: calc(100% / 3 - 30px);
      // margin-left: 30px;
      // margin-top: 30px;
      flex-grow: 1;
   }
}
